/*--------general styles*/

*
{
    padding: 0px;
    margin: auto auto;
}

:root
{
    --blue: lightskyblue;

    --weight: 400;

    --click-transition: all 400ms ease;
}

/*--------body styles*/
body
{
    font-family: Arial, Helvetica, sans-serif;
}

.main-grid
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

a
{
    color: inherit;
    text-decoration: none;
}

a:hover
{
    color: inherit;
    text-decoration: none;
}

h3
{
    color: white;
    font-size: 2vw;
    font-weight: var(--weight);
}

.text-box
{
    background-color: white;
    border-radius: 12px;
}

/*--------header styles*/
header
{
    background-color: grey;
    height: 100vh;
}

.admin-header
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2vw;
    color: white;
    text-align: center;
}

.admin-header div h2
{
    font-size: 3vw;
    font-weight: var(--weight);
}

.company-info-box
{
    text-align: center;
    margin-bottom: 2vh;
}

.company-info-box h3
{
    margin: 1vh 0.5vw;
}

.company-info-box ul li
{
    list-style-type: none;
    background-color: white;
    border-radius: 15px;
    margin: 1vh 1vw;
    padding: 0.5vh;
}

.company-info-box ul li h4, .employee-info ul li p
{
    color: grey;
    font-size: 18px;
    font-weight: var(--weight);
}

/*--------main styles*/
main
{
    height: 100vh;
    width: 100%;
}

.main-title
{
    width: 100%;
    font-size: 3.5vw;
    color: grey;
    text-align: center;
}

.main-title span
{
    color: var(--blue);
}

.single-day
{
    background-color: grey;
    width: 400px;
    border-radius: 12px;
    margin: 1vh 0;
}

.admin-daily
{
    margin: 0px 1vw;
}

.daily-date
{
    background-color: var(--blue);
    border-radius: 12px 12px 0 0;
    padding: 5px 0;
    font-size: 25px;
    color: white;
    text-align: center;
}

.daily-info
{
    background-color: white;
    margin: 0px 10px 10px 10px;
    padding: 2px 4px;
    border-radius: 0 0 12px 12px;
    color: grey;
    max-height: 525px;
    overflow-y: auto;
}

.admin-info
{
    margin: 0px;
}

.mock-footer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    margin-top: 1vh;
}

.mock-footer a
{
    width: 100%;
}

.mock-footer button
{
    border: none;
    width: 100%;
    border-radius: 12px;
    padding: 1vh 1.5vw;
    background-color: var(--blue);
    color: white;
    font-size: 1.5vw;
    transition: var(--click-transition);
}

.mock-footer button:hover
{
    background-color: white;
    color: grey;
}

.shift-item
{
    border-bottom: 2px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vh 1vw;
}

.center-item
{
    text-align: center;
}

.shift-item:last-child
{
    border-bottom: none;
}

.carousel-holder
{
    width: 65vw;
    margin: 1vh 1vw;
}

.weekly-toggle
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-radius: 12px 12px 0 0;
    padding: 10px 0;
    width: 100%;
    font-size: 1.5vw;
    color: grey;
    text-align: center;
}

.weekday
{
    background-color: grey;
    width: fit-content;
    border-radius: 12px;
}

.arrow
{
    border: solid var(--blue);
    height: 10px;
    width: 10px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.right
{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left
{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.swiper-button-next, .swiper-button-prev
{
    color: var(--blue);
}